[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
automat = "*"
beautifulsoup4 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
constantly = "*"
cryptography = "*"
cssselect = "*"
cycler = "*"
flask = "*"
flask-cors = "*"
flask-wtf = "*"
gunicorn = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
itemadapter = "*"
itemloaders = "*"
itsdangerous = "*"
jinja2 = "*"
jmespath = "*"
kiwisolver = "*"
lxml = "*"
markupsafe = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
parsel = "*"
pillow = "*"
protego = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pydispatcher = "*"
pyhamcrest = "*"
pymongo = "*"
pyopenssl = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
queuelib = "*"
requests = "*"
scrapy = "*"
service-identity = "*"
six = "*"
soupsieve = "*"
twisted = "*"
urllib3 = "*"
w3lib = "*"
werkzeug = "*"
wtforms = "*"
"zope.interface" = "*"

[dev-packages]

[requires]
python_version = "3.8"
